<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
function abc()
{
if(document.form1.t1.value=="" || document.form1.t2.value=="" || document.form1.t3.value=="" || document.form1.t4.value==""|| document.form1.t6.value==""|| document.form1.t8.value=="")
{
alert("Please Enter the Details.....");
return(false);

}

if(document.form1.t3.value.length<6)
{
alert("Pin should be  6 digits");
return(false);

}

if(document.form1.t4.value.length<10)
{
alert("Phone should be  min 10 digits");
return(false);

}

}

</script>
<body>
{% include "p2.html" %}

<table width="1306" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="240" height="20">&nbsp;</td>
  <td width="792">&nbsp;</td>
    <td width="274">&nbsp;</td>
  </tr>
  <tr>
    <td height="271">&nbsp;</td>
    <td valign="top"><p align="center"><strong>Hospital Registration</strong></p>
      <form name="form1" method="post" onSubmit="return abc()" action="hospreg2">{% csrf_token %}
        <table width="444" border="0" align="center">
          <tr>
            <td width="196">Location</td>
            <td width="232"><input name="t1" type="text" id="t1" onKeyPress="return alphabets(event)"></td>
          </tr>
          <tr>
            <td>Place</td>
            <td><input name="t2" type="text" id="t2"  onKeyPress="return alphabets(event)"></td>
          </tr>
          <tr>
            <td>Pin</td>
            <td><input name="t3" type="text" id="t3"  onKeyPress="return numbers(event)" maxlength="6"></td>
          </tr>
          <tr>
            <td>Phone </td>
            <td><input name="t4" type="text" id="t4"  onKeyPress="return numbers(event)" maxlength="13"></td>
          </tr>
          <tr>
            <td>District</td>
            <td><select name="t5" id="t5">
              <option>Thiruvananthapuram</option>
              <option>Kollam</option>
              <option>Pathanamthitta</option>
              <option>Alapuzha</option>
              <option>Kottayam</option>
              <option>Eranakulam</option>
              <option>Idukki</option>
              <option>Palakad</option>
              <option>Thrissur</option>
              <option>Kozhikkodu</option>
              <option>Malappuram</option>
              <option>Vayanad</option>
              <option>Kannur</option>
              <option>Kasargod</option>
            </select></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input name="t6" type="text" id="t6"  onKeyPress="return email(event)"></td>
          </tr>
          <tr>
            <td>Hospital Type </td>
            <td><select name="t7" id="t7">
              <option>Medical College</option>
              <option>District Hospital</option>
              <option>Taluk Hospital</option>
              <option>PHSC</option>
                        </select></td>
          </tr>
          <tr>
            <td>Num of Bed </td>
          <td><input name="t8" type="text" id="t8"  onKeyPress="return numbers(event)" maxlength="4"></td>
          </tr>
          <tr>
            <td colspan="2"><div align="center">
              <input type="submit" name="Submit" value="Submit">
              <input type="reset" name="Submit2" value="Reset">
            </div></td>
          </tr>
        </table>
      </form>      <p>&nbsp;</p>
    <p>&nbsp; </p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="41">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>