<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
{% include "p3.html" %}

<table width="1307" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="146" height="302">&nbsp;</td>
    <td width="377" valign="top"><p><strong>Hospital Details</strong></p>      <table width="323" border="0">
        <tr>
          <td width="131">Hospital ID </td>
          <td width="176">{{s1}}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{location}}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{place}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{phone}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email}}</td>
        </tr>
        <tr>
          <td>Hospital Type </td>
          <td>{{htype}}</td>
        </tr>
        <tr>
          <td>Num of Bed </td>
          <td>{{nbed}}</td>
        </tr>
    </table>      <p>&nbsp; </p></td>
    <td width="34">&nbsp;</td>
    <td width="729" valign="top"><p><strong>Damage Details </strong><strong></strong></p>      <p>{% if records1 %} </p>      <table border="0" width="100%">
        <tr>
          <th>Damage No</th>
          <th>Medicine Name</th>
         <th>Damage Quantity</th>
		  <th>Reason</th>
		   <th>Staff ID</th>
		    <th>Damage Date</th>
        </tr>
  {% for dno,medname,dqty,reason,staffid,ddate in records1 %}
  <tr align="center">
    <td>{{dno}}</td>
    <td>{{medname}}</td>
    <td>{{dqty}}</td>
	<td>{{reason}}</td>
	<td>{{staffid}}</td>
	<td>{{ddate}}</td>
  </tr>
  {% endfor %}
      </table>
      {% else %}<b><font color="#FF0000">No Medicine Damage......</font></b>{% endif %}&nbsp;
      <p></p>      <p></p></td>
    <td width="21">&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>
</html>
