<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script>
function printf()
{
window.print();
}
function abc()
{
if(document.form1.t0.value=="")
{
alert("Please enter the Patient ID");
return(false);
}

}

</script>
<body>
{% include "p4.html" %}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="200" rowspan="3" valign="top"><p><strong>Medicine Purchase List</strong></p>      <p>&nbsp;</p>      <p></p></td>
    <td width="12" height="24">&nbsp;</td>
    <td width="345" rowspan="4" valign="top">{% if records %}
      <table width="341" border="0">
        <tr>
          <td colspan="2"><strong>Patient Details </strong></td>
        </tr>
        <tr>
          <td width="115">ID</td>
          <td width="216">{{s0}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td>House Name </td>
          <td>{{hname}}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{place}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{ph}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{age}}</td>
        </tr>
        <tr>
          <td>Adhar No </td>
          <td>{{adharno}}</td>
        </tr>
        <tr>
          <td>Regdate</td>
          <td>{{regdate}}</td>
        </tr>
        <tr>
          <td>Hospital ID </td>
          <td>{{hospid}}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Hospital Details </strong></td>
        </tr>
        <tr>
          <td>Hospital ID </td>
          <td>{{hospid}}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{location1}}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{place1}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin1}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{phone1}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district1}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email1}}</td>
        </tr>
        <tr>
          <td>Hospital Type </td>
          <td>{{htype1}}</td>
        </tr>
      </table>
      {% else %} <b><br><br><br><br>Invalid Patient ID </b>  {% endif %}    
    <p>&nbsp; </p></td>
    <td width="16">&nbsp;</td>
    <td width="367" rowspan="4" valign="top">{% if records %}
      <strong>Medicine Sale List </strong>
      <p>{% if records1 %} </p>      <table border="0" width="100%">
        <tr>
          <th>Sale No.(Select)</th>
          <th>Sale Date</th>
          <th>Staff ID</th>
		  <th>Hosptal ID</th>
      </tr>
    {% for sno,sdate,staffid,hospid in records1 %}
    <tr align="center">
      <td><form action="mymedsalelist3" method="post">{% csrf_token %}<input type="submit" value="{{sno}}"><input type="hidden" name="t0" value="{{s0}}"><input type="hidden" name="t1" value="{{sno}}"></form></td>
      <td>{{sdate}}</td> 
	   <td>{{staffid}}</td>
	   <td>{{hospid}}</td>  
  </tr>
    {% endfor %}
      </table>
      {% else %}<b><font color="#FF0000">No Medicines in stock</font></b>{% endif %}&nbsp; {% endif %}
    <p>&nbsp; </p></td>
    <td width="25">&nbsp;</td>
    <td width="248">&nbsp;</td>
    <td width="79" valign="top"><input type="button" name="Submit2" value="Print" onClick="printf()"></td>
    <td width="11">&nbsp;</td>
  </tr>
  <tr>
    <td height="15"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="72">&nbsp;</td>
    <td></td>
    <td></td>
    <td colspan="2" rowspan="3" valign="top">{% if records %} <strong>Medicines List </strong>
      <p>{% if records11 %} <font color="#FF0000">Sale No {{s1}} </font></p>      <table width="100%" border="0" bgcolor="#FFFF66">
        <tr>
          <th>Medicine Name</th>
          <th>Quantity</th>
          
        </tr>
  {% for medname,qty in records11 %}
  <tr align="center">
  
    <td>{{medname}}</td>
    <td>{{qty}}</td>
   
  </tr>
  {% endfor %}
      </table>
      {% else %}<b><font color="#FF0000">No Medicines </font></b>{% endif %}&nbsp; {% endif %}
    <p></p></td>
    <td></td>
  </tr>
  <tr>
    <td height="568">&nbsp;</td>
    <td>&nbsp;</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="39">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
