<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
{% include "p4.html" %}
<table width="1247" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="149" height="16"></td>
    <td width="918"></td>
    <td width="180"></td>
  </tr>
  <tr>
    <td height="344"></td>
    <td valign="top"><p><strong>My Profile</strong></p>
      <table width="446" border="0">
        <tr>
          <td width="216">ID</td>
          <td width="214">{{pid}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{name}}</td>
        </tr>
        <tr>
          <td>House Name </td>
          <td>{{hname}}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{place}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{ph}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{age}}</td>
        </tr>
        <tr>
          <td>Adhar No </td>
          <td>{{adharno}}</td>
        </tr>
        <tr>
          <td>Regdate</td>
          <td>{{regdate}}</td>
        </tr>
        <tr>
          <td>Staff ID(Joined) </td>
          <td>{{staffid}}</td>
        </tr>
        <tr>
          <td>Hospital ID </td>
          <td>{{hospid}}</td>
        </tr>
      </table>      <p>&nbsp; </p></td>
    <td></td>
  </tr>
  <tr>
    <td height="26"></td>
    <td>&nbsp;</td>
    <td></td>
  </tr>
</table>
</body>
</html>
