<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script>
function abc()
{
if(document.form1.t1.value=="" || document.form1.t2.value=="" || document.form1.t3.value=="" )
{
alert("Please Enter Passwords.....");
return(false);

}
if(document.form1.t2.value != document.form1.t3.value)
{
alert("Password and Re-type Password should be Same.....");
return(false);

}

}

</script>
<body>
{% include "p4.html" %}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="247" height="19">&nbsp;</td>
    <td width="669">&nbsp;</td>
    <td width="411">&nbsp;</td>
  </tr>
  <tr>
    <td height="317">&nbsp;</td>
    <td valign="top"><p><strong>Change Password</strong></p>
      <form name="form1" method="post" onSubmit="return abc()" action="patientchangepassword2">
	  {% csrf_token %}
        <table width="433" border="0">
          <tr>
            <td width="192">Existing Password </td>
            <td width="231"><input name="t1" type="password" id="t1"></td>
          </tr>
          <tr>
            <td>New Password </td>
            <td><input name="t2" type="password" id="t2"></td>
          </tr>
          <tr>
            <td>Retype Password </td>
            <td><input name="t3" type="password" id="t3"></td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit" name="Submit" value="Submit">
            <input type="reset" name="Submit2" value="Reset"></td>
          </tr>
          <tr>
            <td colspan="2"><font color="#FF0000">{{msg}}</font></td>
          </tr>
        </table>
      </form>      <p>&nbsp; </p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="39">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
