<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "p4.html" %}

<table width="1292" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="203" height="26">&nbsp;</td>
  <td width="816">&nbsp;</td>
    <td width="273">&nbsp;</td>
  </tr>
  <tr>
    <td height="261">&nbsp;</td>
    <td valign="top"><p align="center"><strong>Register Client Complaint</strong></p>
    <form name="form1" method="post" action="">
        <table width="579" border="0" align="center">
          <tr>
            <td><div align="center">
              <textarea name="textarea" cols="80" rows="10"></textarea>
            </div></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><div align="center">
              <input type="submit" name="Submit" value="Submit">
            </div></td>
          </tr>
        </table>
      </form>      <p>&nbsp; </p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="45">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>