<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.style1 {
	font-size: 18px;
	font-weight: bold;
}
-->
</style>
</head>
<script>
function printf()
{
window.print();
}
</script>
<body>
<table width="1284" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="67" height="19"></td>
    <td colspan="11" valign="top" bgcolor="#FF0000"><!--DWLayoutEmptyCell-->&nbsp;</td>
    <td width="10"></td>
    <td width="65"></td>
    <td width="14"></td>
  </tr>
  <tr>
    <td height="29"></td>
    <td width="9" rowspan="5" valign="top" bgcolor="#000000"><!--DWLayoutEmptyCell-->&nbsp;</td>
    <td width="66">&nbsp;</td>
    <td width="200" valign="top"><table width="200" border="0">
      <tr>
        <td width="74">Patient ID </td>
        <td width="110">{{pid}}</td>
      </tr>
    </table></td>
    <td colspan="3" valign="top"><div align="center"><span class="style1">Treatment Secure </span></div></td>
    <td width="22">&nbsp;</td>
    <td colspan="2" valign="top"><table width="200" border="0">
      <tr>
        <td width="70">Date</td>
        <td width="114">{{regdate}}</td>
      </tr>
    </table></td>
    <td width="11">&nbsp;</td>
    <td width="7" rowspan="5" valign="top" bgcolor="#000000"><!--DWLayoutEmptyCell-->&nbsp;</td>
    <td>&nbsp;</td>
    <td valign="top"><input type="button" name="Button" value="Print" onClick="printf()"></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2" rowspan="3" valign="top"><p><strong>Registered Hospital </strong></p>      <table width="224" border="0">
        <tr>
          <td width="99">Hospital ID</td>
          <td width="109">{{hospid}}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{location1}}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{place1}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin1}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{phone1}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email1}}</td>
        </tr>
        <tr>
          <td>Hospital Type </td>
          <td>{{htype1}}</td>
        </tr>
                  </table></td>
    <td width="38">&nbsp;</td>
    <td width="515"><strong>Patient Details </strong></td>
    <td></td>
    <td width="117"></td>
    <td width="113"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="173">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3" valign="top"><table width="654" border="0">
        <!--DWLayoutTable-->
        <tr>
          <td width="169">Patient Name</td>
          <td width="193">{{name}}</td>
          <td width="124"><!--DWLayoutEmptyCell-->&nbsp;</td>
          <td width="136"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>
        <tr>
          <td>House Name </td>
          <td>{{hname}}</td>
          <td>Place</td>
          <td>{{place}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin}}</td>
          <td>Phone</td>
          <td>{{ph}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district}}</td>
          <td>Gender</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{age}}</td>
          <td>Adhar No </td>
          <td>{{adharno}}</td>
        </tr>
        <tr>
          <td><!--DWLayoutEmptyCell-->&nbsp;</td>
          <td><!--DWLayoutEmptyCell-->&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="31"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
            </table></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="19">&nbsp;</td>
    <td colspan="11" valign="top" bgcolor="#FF0000"><!--DWLayoutEmptyCell-->&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="79">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
